[2019-02-23 21:43] emallay opened #1 "License?"
This looks very interesting. Thanks for sharing it.

What is the license it is being released under?

[2019-02-23 21:56] Ali-Azmoud commented on #1
Hi, its MIT.
updated the license page

[2019-02-24 07:16] #1 closed

[2019-02-27 01:30] bradintheusa commented on #1
Thanks.  I'll use it now in my app, I had been needing this.

[2019-03-02 10:19] manfye opened #2 "How to set decimal value when sliding?"
Hi, how to set decimal value? like instead of 1>>10, i would like to slide to 1.1 1.5, 2.5, etc..

[2019-03-02 17:29] Ali-Azmoud commented on #2
Hi, I'm not sure but I think it's possible by changing division. ( if your range is 0..10, set division to 100 ) if it doesn't work, next version is out tomorrow night. You should be able to do that.

[2019-03-02 23:03] manfye commented on #2
wow you are amazing!

The original flutter slider return decimal value and what I need to do is just rounding it. Thank for your efforts!

[2019-03-03 17:00] markzero opened #3 "How to remove chevron icons?"
Hi, nice plugin!
It's very easy to use, but how can we remove chevron (chevron_left and chevron_right) default icons on handlers without making new handler? Is there an easy way?

[2019-03-04 04:32] Ali-Azmoud commented on #3
Hi
In current version, sorry there isn't a way to modify handlers but it's a good idea to have it for the next version. for now, you need to remake it.

[2019-03-05 14:01] Ali-Azmoud commented on #2
Okay, I said tomorrow night but it's 3 days now, well one thing I haven't mentioned is that I live in Mars !! so orbital period is a bit more than earth !! lol

Sorry for the delay, your issue is solved in the next version, I'm going to test it within 5 hours ( can't do it right now ) and publish it.

[2019-03-06 02:26] Ali-Azmoud commented on #2
Hi, new version is available, in order to slide `1.1 1.5, 2.5`  you can set `step` to `0.1` and it's good to go

[2019-03-06 02:28] Ali-Azmoud commented on #3
Hi. new version is available, you can now use `icon` property to only modify handler, if you want to completely remake it, you need to use `child`

[2019-03-06 07:06] manfye commented on #2
hi. thank you very much! will try it tonight!!!

[2019-03-06 07:06] #2 closed

[2019-03-06 10:53] markzero commented on #3
Works great, thanks for the update!

[2019-03-06 12:06] #3 closed

[2019-03-10 23:14] samir97 opened #4 "How to stretch slider to fit container?"
Hi, amazing work!

How do I removing the padding so that the slider stretches to fit the whole container in vertical orientation?

Thanks
<img width="297" alt="Screenshot 2019-03-10 at 23 10 57" src="https://user-images.githubusercontent.com/29393146/54092961-42656580-438a-11e9-9145-665ff036662b.png">

[2019-03-11 06:56] Ali-Azmoud commented on #4
Hi, thank you

Sorry, I couldn't understand but I think this can help you. the slider itself has no padding. there is a little issue about trackbar's height and width in single mode, which it will be solved in the next version

[code]
or if you don't want to set the height or width manually , use `expanded` or `flexible` inside a column or row.

if this is not what you asked, please provide some m

[2019-03-11 08:01] samir97 commented on #4
Thanks for the quick reply, this helped a lot. It turns out the reason for the padding was because the widget was inside a `SafeArea` which I assumed would only apply padding if the widget went under the notch.

[2019-03-11 08:01] #4 closed

[2019-03-13 08:18] DangerBlack opened #5 "Bug, sliding far too left cause anomaly"
When you place a custom FlutterSlider in a Column and you slide left too much, the widget trows an error.
[code]

Possible fix:

[code]

[2019-03-13 10:56] Ali-Azmoud commented on #5
Hi. Thanks for your report, I will fix that in the next version, I'm pretty sure I faced this exception before and fixed it in the latest version. Don't know how it still exists.

[2019-03-17 12:33] Ali-Azmoud commented on #5
wow, what a big bug that was. I tested it today and noticed the bug, thank you again for your reporting. it's solved now

[2019-03-18 09:57] Ali-Azmoud commented on #5
I close this issue, if you faced any related error, feel free to open this issue or make a new one

[2019-03-18 09:57] #5 closed

[2019-03-23 15:22] dexcell commented on #1
This looks like amazing lib. Thanks for sharing.

[2019-03-26 18:52] dexcell opened #6 "cannot change thumb value"
Hi, i want to change the move the slider value programatically using the `values` property but it doesn't work. any ideas why?

[code]

[2019-03-27 06:15] Ali-Azmoud commented on #6
Hi
well, it doesn't work because `values` is a final property, also, the value of `values` must change within the package to make things work, move slider, update `lowerValue` and `upperValue` and etc ..., so I set `values` to a non-final property in the code which means you can only initialize it.
There should be a method to update the values programatically but I've not implemented it yet ( sorr

[2019-03-27 06:29] dexcell commented on #6
Thank you for your reply

Yeah the only thing is missing is to update the values / lowerValues /
upperValues

I hope it will be implemented soon

On Wed, Mar 27, 2019, 1:15 PM Ali-Azmoud <notifications@github.com> wrote:

[2019-03-29 10:40] g-balas opened #7 "On Tap on the slider to select value without dragging the thumb ?"
Hey, is it possible to select a value directly with a on Tap event on the slider itself ?

Thanks, and great job btw.

[2019-03-30 06:27] Ali-Azmoud commented on #7
Hi
Yeah, actually this feature is available in the  next version. You can update tonight or tomorrow ( local time ).

[2019-03-30 16:03] g-balas commented on #7
Love you guys.

[2019-03-30 19:23] Ali-Azmoud commented on #7
Hi, you can update to the latest version.

[2019-03-30 19:25] Ali-Azmoud commented on #6
Hi
new version is out, you should be able to update values now. if  you faced any error, please share the output here.
I keep this issue open for now

[2019-03-31 12:59] g-balas commented on #7
Seems perfect, thanks !

[2019-03-31 13:58] #7 closed

[2019-03-31 19:58] dexcell commented on #6
Thank you, it works now.

[2019-03-31 19:58] #6 closed

[2019-03-31 20:16] dexcell opened #8 "Very hard to drag slider to max value"
Somehow it's very hard to drag to max value.
(tested on ios simulator and device, haven't tried on android).

Here is the vid in ios simulator (i'm clicking the mouse and drag it, however it cannot reach max value)
![1](https://user-images.githubusercontent.com/41800/55294415-2191ac80-542c-11e9-8771-713bece3cb14.gif)

[code]

[2019-03-31 22:21] Ali-Azmoud commented on #8
Hi, I'm not sure but I think it's because of rounding numbers ( to make jump work). I try to figure that out. sorry for the bug.

[2019-04-01 11:20] Ali-Azmoud commented on #8
Hi again, you can update and it should work fine ( working for me with no problem ). this bug made me to change the way handlers are moved, it's more accurate now. thanks for your bug reporting

[2019-04-03 19:37] Ali-Azmoud commented on #8
Hi, new version is out, although your problem still exists in the newest version, but handler movement is far better than before.

Your problem is because you drag the handler from the rightmost part of handler. to solve it,
**if your slider is full width or there is not enough room in both sides**, you should set `touchSize` equal or less than the padding of the container of your slider.

[code]

[2019-04-04 03:37] dexcell commented on #8
Thank you i will try and report the result

[2019-04-04 13:11] g-balas commented on #8
hey @Ali-Azmoud, got the same issue.
I tried adding some padding, but it does not fix the issue. It's a bit better but not usable for a production app.

[2019-04-04 13:26] g-balas opened #9 "Glitch on dragging thumb"
Here the code and video of some glitches I found :
- Strange "jumping artefact"
- Difficult to go to the last value

On iOS device and emulator.

![Glitch_xlider_flutter](https://user-images.githubusercontent.com/3330823/55559202-0655c400-56ee-11e9-80a7-a56d4287db9e.gif)

`FlutterSlider(
        values: [_selectorValue.toDouble()],
        touchSize: 30,
        jump: false,
        max: 5,

[2019-04-04 14:00] Ali-Azmoud commented on #9
Actually your case is not about reaching-to-max-value bug, it's another species of bug ! created in the last version which I'm going to fix it now.

For the glitch on dragging, I have no idea how to reproduce it, because even with your code, the glitch doesn't exists in my emulator.

I should probably check it on iOS simulator.

[2019-04-04 14:10] Ali-Azmoud commented on #9
I found the problem of your code, I wonder why you set `_selectorValue = lowerValue.toInt();` ?
Is there any reason for that because it causes the bug and it's nonsense actually.

Could you please describe your code

[2019-04-04 14:25] g-balas commented on #9
Hey @Ali-Azmoud ,
I am just saving a Int to track the step, and converting in to a double back on the 'values' array

[2019-04-04 14:42] Ali-Azmoud commented on #9
@g-balas well, it makes bug and it's logical, the handler is in the middle of dragging process and you are converting value to int means you're somehow rounding it , upper or lower, then pass it back to slider while slider's old value ( position of handler ) is a `double` with some decimal numbers. that causes the handler to jump up or down suddenly

You don't need to pass it back in your case.

f

[2019-04-04 15:17] g-balas commented on #9
@Ali-Azmoud Thank you, it fixed my strange artefact glitch.
I just updated to 2.3.1, great reaction time you have !
Still have problem with the last value, I will continue on https://github.com/Ali-Azmoud/flutter_xlider/issues/8

[2019-04-04 15:22] #9 closed

[2019-04-04 15:32] g-balas commented on #8
Here with padding, still missing the last sometimes, on version 2.3.1:

![glitch_xlider_2](https://user-images.githubusercontent.com/3330823/55568220-9a7c5700-56ff-11e9-83df-0ff21860f2d1.gif)

[2019-04-04 16:42] Ali-Azmoud commented on #8
OK , I think I fixed the problem, testing it out to be sure. If everything goes well, I will upload it in the next couple of hours or less.

[2019-04-05 13:22] Ali-Azmoud commented on #8
Hey, package is updated. I tried my best to test everything works fine, if you found any bug, please report it here. 👍

[2019-04-05 14:49] g-balas opened #10 "Compiling error on 2.4.0"
After updating to 2.4.0, I got this message when trying to run on Android device :

Compiler message:
...workspace_flutter/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_xlider-2.4.0/lib/flutter_xlider.dart:468:42: Error: Getter not found: 'visible'.
                  overflow: TextOverflow.visible,

[2019-04-05 15:09] Ali-Azmoud commented on #10
Yeah I'm working on it, I don't know why bugs show themselves after I publish the package :(

[2019-04-05 17:18] Ali-Azmoud commented on #10
Hi, its updated. hope this time no bug shows up.

[2019-04-07 06:37] Ali-Azmoud commented on #8
Hey. Could you @dexcell @g-balas please report the result of this issue.

[2019-04-07 17:27] Ali-Azmoud commented on #10
This issue is fixed so I close it.

[2019-04-07 17:27] #10 closed

[2019-04-09 05:02] dexcell commented on #8
Hi @Ali-Azmoud
Thank you very much for the update, it works really well now.

[2019-04-09 05:02] #8 closed

[2019-05-27 09:10] gmaxferr opened #11 "Override Tooltip"
Hello,
I've been using your range slider for a while and i've tried to customize it, but i'm getting stuck at the tooltip customization.
The thing is, is is possible to override it's display and put instead a CostumPainter object? I wanted to be able to fully paint a non-box object in the tooltip position...

Also, is it possible to implement an easy way to edit the decoration of the unselected tr

[2019-05-31 16:14] Ali-Azmoud commented on #11
Hi. Sorry for the delayed reply and thank you for usage and feedback

It's not possible now, I don't know if I have enough time to add that feature but any contribution is welcomed

I would be great if you provide an image of what you want to do or what you've done so I understand better

[2019-06-02 18:10] gmaxferr commented on #11
I just wanted to add a border style to the track bar like rounding the corners

[2019-06-05 20:31] Ali-Azmoud commented on #11
I'm so sorry for my delayed replies. I am very busy these days.
But I will update the package during next 3 or 4 days for sure.

[2019-06-10 10:21] SagarPanwala opened #13 "slider height not up to it's content"
Slider is cut off from top and bottom portion. It's not showing Tooltip and Thumb properly.
here is the code I have in body
[code]

Here is the attachment to make it more clear.
![Simulator Screen Shot - iPhone XS Max - 2019-06-10 at 15 44 47](https://user-images.githubusercontent.com/8872172/59189416-9e14da00-8b97-11e9-91a3-46a5089976a9.png)

[2019-06-10 16:33] Ali-Azmoud commented on #13
@SagarPanwala Hi
Simply wrap slider inside a `SizedBox` or `Container` and give it a height.

[2019-06-13 14:25] leafmore opened #14 "How to return to original value/position using onDragCompleted()"
Hi, thank you for this very useful package. I'm just new to Flutter and I'm not sure if I just don't know how to implement it in general, but may I know how to set the slider to it's original value and position using onDragCompleted()?
 I'm using the slider as part of a Car Remote Control that can do forward/reverse using 1 slider and another for left and right. I need a back-to-center functionali

[2019-06-19 15:04] leafmore commented on #14
Hi, I already figured it out by setting the values[] to the middle value (in my case it is 0) using the onDragCompleted(). Again, this is a really helpful package.

[2019-06-19 15:04] #14 closed

[2019-06-20 15:29] #13 closed

[2019-06-26 13:51] joaowd opened #15 "FlutterSliderHatchMark keeps moving"
Every time the FlutterSliderHatchMark disappears from the view (by scrolling), the next time it appears is 10/15px below from where it was previously.

[Video of the behaviour](https://www.youtube.com/watch?v=6Ip-MUNHzCg)

[Code](https://gist.github.com/joaowd/b4a724d16009169b62e744fe43b335d6)

[2019-06-27 01:09] tejashah88 opened #16 "Exception will occur with minimumDistance and double-precision floating-point errors."
If the difference between the lower and upper value is a little bit off due to double-precision floating-point errors, (ex. 0.6 - 0.5 == 0.09999999999999998), and the `minimumDistance` is slightly bigger (ex. 0.1), then an exception will be thrown. There needs to be an edge case handler for this, like an maximum epsilon value to account for the error.

[2019-06-30 22:00] Ali-Azmoud commented on #15
Hi
I will test that and let you know, weird. Sorry for the late reply

[2019-06-30 22:02] Ali-Azmoud commented on #16
Hi, can you share your code, so I can reproduce it. it would be easier to understand the problem. thanks.

[2019-07-09 14:32] joaowd commented on #15
Did you produce the same error ?

[2019-07-09 15:08] joaowd commented on #15
Found another bug when the FlutterSliderHatchMark, it doesn't update his size when you change the device rotation vertical/horizontal.

[2019-07-10 14:32] joaowd commented on #15
I fixed the first problem adding a scaffold to the view. The second one keeps happening.

[2019-07-10 15:52] tedchuang opened #18 "Please add tap to to increment/decrease by 1"
This way, we can use it as a tally counter, such as counting foot traffic coming into the workshop presentation event. Thank you!

[2019-07-11 10:48] Ali-Azmoud commented on #15
Hi
Both bugs are fixed in next version. I'm going to upload it within a couple of hours.

[2019-07-11 10:50] joaowd commented on #15
@Ali-Azmoud thank you, you built a great widget!

[2019-07-14 16:44] Ali-Azmoud commented on #18
Hi, Could you please provide more details.

[2019-07-14 17:33] Ali-Azmoud commented on #11
Hi, after a long time, new version is out.
you can now customize trackbars easily.
tooltip custom paint isn't developed yet. sorry for this

[2019-07-14 17:34] Ali-Azmoud commented on #15
Hi, new version is out. you can update now. sorry again for the late update.

[2019-07-15 00:41] tedchuang commented on #18
Good evening, Thank you for responding to this feature request.

This feature also help make fine adjustments to the slider count; if the max value is > 100, it's hard to slide to the precise number.

I was hoping to add a "minus" icon on the left side of the single slider, and a "plus" icon on the right side of the slider. Each tap of the "plus" icon would increase the count by one, with a little

[2019-07-15 20:22] Ali-Azmoud commented on #18
if you want to increase or decrease the value of each slider handler simply change it's value!

[code]

[2019-07-15 20:28] tedchuang commented on #18
Awesome! Thank you so very much sir :)

[2019-07-16 10:33] #18 closed

[2019-07-16 10:33] #15 closed

[2019-07-16 10:34] #11 closed

[2019-07-17 01:50] zukinaru opened #19 "Build AppBundle : "Error: No named parameter with the name 'activeTrackBarColor'.activeTrackBarColor: Colors.red""
i try to build AppBundle, but get below error :

[code]

Moreover, a copy of this project build successfully but it use `flutter_xlide-2.4.3`

<h1>One Strange problem...</h1>

 i set what packages to be imported on `pubspec.yaml`. On this case i try to import `flutter_xlide-2.4.3` ( sometime i change to `flutter_xlide-2.4.2`). But why the library imported to my development folder (`/Users/zukinaru

[2019-07-17 07:43] Ali-Azmoud commented on #19
Yes, the latest version break the functionality of older versions, I mentioned this in the documentation. you need to remove `activeTrackBarColor` and `inactiveTrackBarColor`. you should use `activeTrackBar` and `inactiveTrackBar` instead. which both are `BoxDecoration`

please read the [TrackBar](https://github.com/Ali-Azmoud/flutter_xlider#trackbars) section of `ReadMe` page

[2019-07-17 09:40] zukinaru commented on #19
Hi, i think it solved,  it come with new error :

Compiler message:
[code]

[2019-07-17 22:30] SonQBChau opened #20 "how to display tooltip for irregular interval value?"
I have a pretty unusual situation, my app need a slider like below:

<img width="255" alt="bar" src="https://user-images.githubusercontent.com/12553570/61415768-4284ed00-a8b7-11e9-8133-975b711a1844.png">

Is there a way I can customize the tooltip to display the value I want? Maybe from an array like the HatchMark?

[2019-07-18 09:43] Ali-Azmoud commented on #19
Hi
The error displays itself: `The argument type 'MaterialColor' can't be assigned to the parameter type 'BoxDecoration'`

You need to use `BoxDecoration` instead of `MaterialColor`
Like this

[code]

[2019-07-18 13:06] Ali-Azmoud commented on #20
Hi,
You can use `fixedValues` in the latest version. just check the documentations.

[2019-07-18 14:40] SonQBChau commented on #20
I try the new version 2.5.0 but it's currently broken:
[code]

[2019-07-18 14:52] Ali-Azmoud commented on #20
Could you provide the whole source so that I can reproduce it

[2019-07-18 14:55] SonQBChau commented on #20
I'm using the example.dart code from the master branch

[2019-07-18 19:41] Ali-Azmoud commented on #20
I mean your FlutterSlider source. The way you implemented your slider

[2019-07-18 19:51] SonQBChau commented on #20
I don't know if the version 2.5.0 working for anybody else, but not me.

I test my code in a new project, this snippet works in 2.4.5 but not in 2.5.0:

[code]

[2019-07-18 20:10] Ali-Azmoud commented on #20
Just do a `Flutter clean` and let me know if the error still exists.

[2019-07-18 20:13] SonQBChau commented on #20
I just run flutter clean and I still got the same error

[code]

[2019-07-18 20:40] Ali-Azmoud commented on #20
update to version 2.5.1
there was a bug in asserts.
you should be able to make your slider now

[2019-07-18 20:58] SonQBChau commented on #20
version 2.5.1 works, but FlutterSliderFixedValue throw error:

[code]

Code to reproduce:

[code]

I guess the tooltip was expecting a double but was provided a String from array

[2019-07-18 21:08] Ali-Azmoud commented on #20
Yeah, you should change `_lowerValue` to `dynamic` in your use-case, I've updated the returned data type of events in the documentations.

[2019-07-18 21:22] SonQBChau commented on #20
Works perfectly:

<img width="255" alt="Screen Shot 2019-07-18 at 4 12 49 PM" src="https://user-images.githubusercontent.com/12553570/61492699-7e7f8700-a977-11e9-8360-c838abb2d73d.png">

Thank for being very responsive on this issue. Also, could you change the Column in Example file to Listview? The list is being cut off on a short screen. Otherwise, awesome works!

I also share the code for anybo

[2019-07-19 01:50] zukinaru commented on #19
Ok, it solved. Thank you very much for the support....

[2019-07-19 01:50] #19 closed

[2019-07-19 08:13] adentutton opened #21 "Slider Tap to select value doesn't trigger onDragCompleted event"
Currently, only the onDragging event is triggered when tapping the slider to select the value, is it possible to add the tap to trigger the onDragCompleted event? I am using the call back to update a list count after an API call and don't want to add the onDragging event to constantly keep calling the API?
Love the package so far!

[2019-07-19 10:30] #20 closed

[2019-07-19 19:14] Ali-Azmoud commented on #21
Hi
Yeah, your requested feature will be added in the next version. stay tuned

[2019-07-25 12:36] angel1st opened #22 "[Question] - How to reduce slider padding"
Hi there,
First of all - thanks for the excellent package you have developed!
I have a question though - I am using the slider vertically, and since the screen width is limited, I would like to reduce the slide horizontal padding - is it possible to achieve this?

[2019-07-25 20:34] Ali-Azmoud commented on #22
Hi, thanks for your feedback.
wrap your slider with a parent widget, a `Container` for example, and give it a fixed width.

[2019-07-28 08:50] #16 closed

[2019-07-30 16:25] aswinmohanme commented on #22
I can't remove the padding, can you give an example. It seems there is only left and top padding.

[2019-07-31 00:14] aswinmohanme commented on #22
Also how to change the color of the slider ?

[2019-08-03 06:37] Ali-Azmoud commented on #22
@aswinmohanme Everything about customization is documented, please read the docs.

About padding:
[code]

[2019-08-03 20:26] tejashah88 commented on #16
@Ali-Azmoud Sorry for not getting back to you. I noticed the issue was closed, so has it been patched recently?

[2019-08-03 23:40] b-cancel commented on #21
@Ali-Azmoud I also REALLY need to be able to start a drag on tap

could you please implement this? or could you give me an idea about how you would do it so I can

Please and thank you!

[2019-08-04 11:22] Ali-Azmoud commented on #21
Hi
Can you describe it a little bit more. I couldn't understand what exactly you want

[2019-08-04 20:39] b-cancel commented on #21
@Ali-Azmoud basically think of something that looks like a slider but works like a scroll bar
right now on tap its possible to set the slider value
but the slider won't keep moving
I need to be possible for it to keep moving after the thumb tack gets repositioned

[2019-08-05 05:48] #22 closed

[2019-08-05 05:53] Ali-Azmoud commented on #16
No, it's been a long time, yet you didn't provide more detail of your problem. I closed it until you share more details. feel free to open it

[2019-08-05 16:16] mfarizon opened #23 "How to handle orientation change"
Hey,
it seems that the way that the slider reacts on orientation change can be improved. Right now, when changing from portrait to landscape, the active trackbar remains the same size while the full trackbar adapt itself to the new size of the screen.

![xlider-portait-to-landscape](https://user-images.githubusercontent.com/22452175/62479132-06092a80-b7ad-11e9-93b5-fb7c4db9f8a2.png)

When turning

[2019-08-06 06:44] Ali-Azmoud commented on #23
Hi
Do you use the latest version ?

[2019-08-06 07:56] mfarizon commented on #23
Yes, I use :
Flutter 1.7.8+hotfix.4, channel stable
Dart 2.4.0
and flutter_xlider 2.5.1

I can reproduce on both Android and iOS with the following minimal app :
[code]

[2019-08-06 08:16] Ali-Azmoud commented on #23
Okay, Thanks for your report. I will fix it tonight.

[2019-08-06 09:15] tejashah88 commented on #16
@Ali-Azmoud I can't seem to reproduce the bug. The exception might have been due to something else in my app. Thanks!

[2019-08-06 20:33] Ali-Azmoud commented on #21
@adentutton Hi, your requested feature is added.

@b-cancel Hi, sorry your request isn't possible. because when you tap on slider, you touch somewhere outside of the Listener of the handler widget. It can't recognize your interaction to start drag.

[2019-08-06 20:35] Ali-Azmoud commented on #23
Hi, you can now update to the latest version. the bug is fixed.

[2019-08-07 11:39] #23 closed

[2019-08-09 11:39] #21 closed

[2019-08-13 12:51] g-balas opened #24 "Issues with rangeSlider"
We encountered two issues with ranged Slider :

1 - The handles seems not horizontally aligned (see below, I added a red line, the right one seems 1 point below the left one)
I can reproduce this with default handlers, and also with custom ones.
![Screenshot_20190813-143756](https://user-images.githubusercontent.com/3330823/62943041-d88a3580-bdd9-11e9-94a0-3130c79a9d5c.jpg)
![Screenshot 2019-08-13

[2019-08-15 16:44] angel1st opened #25 "_drawHatchMark throws exception at some edge case"
Hi there,
I  believe I found out an issue, when using the slider. It is quite an edge case and I cannot isolate it in minimum reproducing sample, however, I debugged it and I will try to explain the case:

The issue appears in case `hatchMark` is set.

In case the slider is on app home page, at some point `_drawHatchMark` is called. Within it however, at lines **461** to **465**, the slider uses `

[2019-08-17 09:08] angel1st commented on #25
Occasionally now, I have got this exception:

I/flutter ( 3216): The following NoSuchMethodError was thrown during a scheduler callback:
I/flutter ( 3216): The method 'findRenderObject' was called on null.
I/flutter ( 3216): Receiver: null
I/flutter ( 3216): Tried calling: findRenderObject()
I/flutter ( 3216):
I/flutter ( 3216): When the exception was thrown, this was the stack:
I/flutter ( 3216):

[2019-08-19 18:40] angel1st commented on #25
@Ali-Azmoud - I have just created [PR](https://github.com/Ali-Azmoud/flutter_xlider/pull/26) hopefully with the fix...

[2019-08-26 05:47] Ali-Azmoud commented on #25
Hi, sorry for my late response. I am traveling and don't have access to my laptop.
I will fix this bug asap. thanks for your report.

[2019-08-26 05:48] Ali-Azmoud commented on #24
Hi, sorry for my late response. I am traveling and don't have access to my laptop.
I will fix this issue asap. thanks for your report.

[2019-08-26 07:45] angel1st commented on #25
@Ali-Azmoud -thanks for the feedback.

[2019-09-10 18:59] Dancovich opened #27 "After upgrade to Flutter 1.9.1+hotfix.2 xlider complains about dependency conflict on intl"
Basically the package `flutter_localizations` on Flutter SDK 1.9.1+hotfix.2 depends on `intl` 0.16.0 while `xlider` 2.5.2 depends on `intl` 0.15.8.

For now the workaround is to add a `dependency_overrides` section on `pubspec.yaml`.

[code]
On my project `xlider` seems to have no issues with this override.

[2019-09-11 22:12] Dancovich commented on #27
It seems there was an error in my flutter installation, reinstalling from scratch fixed this.

Closing the issue.

[2019-09-11 22:12] #27 closed

[2019-09-16 01:48] johnmastri commented on #22
I am running into the same issue here. There is top and left padding by default with the slider. Wrapping in a container doesn't seem to help.

![image](https://user-images.githubusercontent.com/1303044/64930849-95185200-d7f1-11e9-9622-b244e94439e4.png)

[2019-09-16 02:28] johnmastri opened #28 "Tooltip doesn't show values from 0 to 1"
With the following settings the tool tip doesn't change from 0.0 until it reaches one.
[code]

[2019-09-20 22:44] mtallenca opened #29 "intl dependency needs to be updated to ^0.16.0"
Working on combination web/app project and I'm getting a dependency error.  Updating the pubspec.yaml to intl: ^0.16.0 is a sufficient resolution.

[2019-10-04 11:08] Peda1996 commented on #29
Have the same error, please update this dependency

[2019-10-10 06:40] seeyou888999 commented on #24
Hello, if I want to change the icon of the slider or how the widget changes, do I support changing the icon or passing widget changes?

[2019-10-11 08:23] #29 closed

[2019-10-15 14:24] raacker opened #30 "Setting "step" to 0.1 cannot reach to max"
as mentioned in #28, flutter_xlider has a UX problem that step is to be 1 by default even though values are given to double value and very makes sense to auto scale step value.

While trying to fix the problem with scaling step size, I noticed that step is only increased by 90% from min value.

for example, with min : 0, max : 1, values : [.5] params, if you start sliding from 0.0 will limit your

[2019-10-15 15:50] MrLepage commented on #22
Same problem

[2019-10-23 11:17] Ahmedtaha123 opened #33 "can not change FlutterSlider width"
if i wrap FlutterSlider with Container and give Container width FlutterSlider  not change
any help

[2019-11-05 14:22] thanksmister opened #34 "Conflict with flutter_localizations"
I tried to include your widget but received the following error:

[2019-11-05 15:13] thanksmister commented on #34
If you downgrade to 2.5.2, it does not have the error.   I am guessing this is with the most recent version of Flutter.   Here is my version info:

[2019-11-05 15:19] thanksmister commented on #34
Duplicate of https://github.com/Ali-Azmoud/flutter_xlider/issues/27

[2019-11-05 15:19] #34 closed

[2019-11-17 04:35] praharshbhatt opened #35 "xlider for Flutter web"
This is more of a request than an issue.
I would like to use flutter_xlider for the Flutter web too.

Currently, when compiled, it gives the error:
`Another exception was thrown: RangeError (index): Index out of range: index should be less than 1: 1
`
The same code works fine on mobile.

[2019-11-17 09:38] davidBarbieri opened #36 "Unable to drag to last value"
Hi, thanks for this amazing plugin!

I skimmed through the open issues but i didn't figure out a way to fix this.
The problem is that it''s very tricky to be able to select the last value of a set, this is a gif of my case:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/39115980/69005698-0ecdd880-0926-11ea-8844-aab79617a3ba.gif)

It doesn't matter if i'm starting the drag fro

[2019-11-17 16:09] jtans opened #37 "when add attribute axis: Axis.vertical ，throw error"
when i write the code like :
`FlutterSlider(
          values: [10],
          axis: Axis.vertical,
          max: 100,
          min: 0,
          trackBar: FlutterSliderTrackBar(
            inactiveTrackBar: BoxDecoration(
              borderRadius: BorderRadius.circular(20),
              color: Colors.black12,
              border: Border.all(width: 3, color: Colors.blue),
            ),

[2019-11-20 14:12] praharshbhatt commented on #35
Any updates here?

[2019-11-20 14:39] abedkaterji opened #38 "tooltip"
im trying to display time instead of numbers with decimals. im using the xlider for a media player, is it possible to format the values to be in time instead of integers? and with a colon separator between the minutes and seconds?

[2019-11-27 08:42] Ali-Azmoud commented on #36
Hi, sorry for my delayed reply.
could you please share your code so that I can reproduce it.

[2019-11-27 08:47] Ali-Azmoud commented on #38
Hi
Could you please provide more details or an example of what you exactly want
Thanks.

[2019-11-27 08:49] Ali-Azmoud commented on #37
Hi
You need to wrap your slider inside another widget, for example, a `Container` with a given height.

[2019-11-27 08:51] Ali-Azmoud commented on #33
Hi
Can you share your code so that I can reproduce it? thanks

[2019-11-29 11:54] davidBarbieri commented on #36
Hi aly, sorry for the last response! I commented my custom code as i saw i get the same problem with the default plugin layout:

[code]

My values go from 1 to 10, and the default value is 5. Most of the times it impossible to drag all the way to 10.

My momentary fix will be to set max value to 11 and do a math.max with 10 so always be able to get to 10

[2019-11-29 12:10] davidBarbieri opened #39 "Vertical page scroll moves horizontal scroller"
Hi Ali, not sure if this is fixable in any way, but it creates a bit dodgy effect.

When i set a value, then scroll the page down, if i happen to start the drag gesture on the bar the handler is moved to that position, the value is not changed tho. This is a video of the issue

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/39115980/69868226-703c6280-12a9-11ea-9c65-d4920149

[2019-12-01 08:42] Ali-Azmoud commented on #39
Hi. yeah, I see that
you can set `selectByTap` to `false` for now until I figure out how to solve this issue.
I'm going to upload the new version in a couple of days

[2019-12-01 08:49] Ali-Azmoud commented on #36
I'm not sure but I think it's logical. if you grab your handler from very right and try to slide to the right side, you can't reach to the end of slider itself. because your finger reaches to the edge of your phone ...
I think if you give some padding to both sides of your slider, you should not face this problem anymore.

again I am not sure, I'm going to test it tonight ( my local time ) and let

[2019-12-01 08:52] Ali-Azmoud commented on #36
There is a similar issue [here](https://github.com/Ali-Azmoud/flutter_xlider/issues/8) also

[2019-12-01 10:58] davidBarbieri commented on #36
Hi Ali, thanks for the hint, i tried playing around with paddings and touchSizes but many times i still struggled to get to 10.

In the example touchSize is set to 50, which is the same size as the handler, and it didn't change much from the behaviour with the default value of 15.

I also tried to change the outmost Padding from 20 to 50, bust still no changes.

This is a gif with the inspector on

[2019-12-01 22:44] Ali-Azmoud commented on #39
Hi, It's been a while since my last time working on this package. The thing is, `onDragging` doesn't fire while tapping on slider and scrolling. you should use `onDragCompleted` instead

[2019-12-01 22:49] Ali-Azmoud commented on #35
Hi. sorry for my late response. could you please share more details. what index, on what line...

[2019-12-01 22:54] Ali-Azmoud commented on #30
Hi, I've tested with `min: 1` `max: 10` `step: 0.1`
and  `min: 1` `max: 100` `step: 0.1`
and it works well in both.
could you please share your slider options

in some cases, when max is too big and step is too small, some steps may not be selected because of pixel limited but I don't think it's your case

[2019-12-01 22:59] Ali-Azmoud commented on #28
Hi
sorry for my late response, I don't know if this is all your settings, but you are firing `onDragCompleted` so it will only update values when drag is completed.
I checked your code and it works well.

[2019-12-01 23:02] Ali-Azmoud commented on #36
Hi again, the code you shared here works well for me. I may need your handler style to check what is going on here

[2019-12-02 05:43] praharshbhatt commented on #35
I'm not sure what index is it referring to.

Have a look at the code:
[code]

It works great on mobile:
![Screenshot_1575262242](https://user-images.githubusercontent.com/30700808/69931560-bda91180-14ed-11ea-86a2-8be7c8921f45.png)

On the web, it throws the following error:
![image](https://user-images.githubusercontent.com/30700808/69933393-8db13c80-14f4-11ea-84e3-9d35beb276dd.png)

The following

[2019-12-02 10:15] Ali-Azmoud commented on #35
There is a related issue [here ](https://github.com/sass/dart-sass/issues/18). I'm not sure but maybe this is a dart web bug or something. I haven't used dart for web yet. I'll try to find out what cause this error

[2019-12-03 10:02] Ali-Azmoud commented on #36
Hi again. this bug is fixed. I'm going to upload the new version tonight. thanks for your bug report and feedback

[2019-12-03 10:14] Ali-Azmoud commented on #25
Hi @angel1st, sorry for my late response! it's quite a while...
I couldn't reproduce this issue for myself. but it's better to check for `_constraintMaxHeight` and `_constraintMaxWidth` to be not null inside `didUpdateWidget` to avoid any exception. I will merge your solution but change it to my solution!

[2019-12-03 22:31] Ali-Azmoud commented on #24
Hi @g-balas . sorry for my late response and action. Both of those bug you mentioned above are not fixed in latest version. I am going to close this issue, feel free to open it if you think the problem still exists

[2019-12-03 22:31] #24 closed

[2019-12-03 22:33] #37 closed

[2019-12-03 22:35] Ali-Azmoud commented on #36
Hey, this bug is fixed in the latest version. I'm going to close this issue, feel free to reopen it if you think problem still exists.

[2019-12-03 22:35] #36 closed

[2019-12-03 22:36] Ali-Azmoud commented on #30
Hey, this bug is fixed by your proposed solution, in the latest version. I'm going to close this issue, feel free to reopen it if you think problem still exists.

[2019-12-03 22:36] #30 closed

[2019-12-03 22:38] Ali-Azmoud commented on #25
Hey, I couldn't reproduce this issue but changed the `didUpdateWidget ` method. if you encountered the exception again let me know. thanks. I'm going to close this issue. feel free to reopen it if you face any bug or exception

[2019-12-03 22:38] #25 closed

[2019-12-03 22:42] Ali-Azmoud commented on #28
as @raacker mentioned, this happens because of slider default step which is 1. you need to set it manually to 0.1
I'm going to close this issue. feel free to reopen it if you need any help

[2019-12-03 22:42] #28 closed

[2019-12-03 22:49] #39 closed

[2019-12-04 10:33] JobinCheriyanExperion opened #40 "selectByTap not working properly"
when tap on the slider, value not updating on first tap and some times showing wrong values which is not appropriate for the current slider tracker position.

[2019-12-04 10:44] Ali-Azmoud commented on #40
Hi. please provide more details. `min`, `max`, `jump`, `direction`, `step`. thanks.

[2019-12-04 11:39] JobinCheriyanExperion commented on #40
FlutterSlider(
                                    tooltip: FlutterSliderTooltip(
                                      disabled: true,
                                    ),
                                    handlerHeight: 23,
                                    handlerWidth: 23,
                                    handler: FlutterSliderHandler(
                                      decoration:

[2019-12-04 13:04] Ali-Azmoud commented on #40
It's working fine for me. I commented out the lines you update `inputAmoutController`.
Maybe you need to update `inputAmoutController` after `_lowerValue = lowerValue`.  cuz from what I see in your code, you're first setting the old value of `_lowerValue` to `inputAmoutController` then updating `_lowerValue` which seems a bit weird unless it's intended to work like that

[2019-12-05 06:48] JobinCheriyanExperion commented on #40
Thank you @Ali-Azmoud  .... Thank you for your valuable time

[2019-12-05 06:48] #40 closed

[2019-12-15 14:17] Ali-Azmoud commented on #38
[code]

[2019-12-15 14:24] Ali-Azmoud commented on #38
[code]
Hi, @abedkaterji
This may sounds a little weird but works as you need. the only important thing to notice is `DateTime` of max value which is the duration of your movie. in this case it's 1 hour. the rest is straightforward.

It's not working with `tooltips` for now. maybe in a future update.

[2019-12-16 06:52] Ali-Azmoud commented on #38
Hi @abedkaterji
You can use `DateTime`. It's simple and straightforward, The only thing you should consider is `max` value which is the duration of the movie which in this example is 1 hour.

[code]

[2019-12-17 12:31] Ali-Azmoud commented on #33
Since you haven't answered this reply for a long time, I'm going to close this issue. Feel free to reopen it if you need to

[2019-12-17 12:31] #33 closed

[2019-12-17 12:31] #38 closed

[2020-01-03 10:44] lvlasuod commented on #33
Hey thanks for your useful plugin, but I have the same problem with this plugin I want to increase the width of the trackbar, how can I approach?

[2020-01-08 21:42] Ali-Azmoud commented on #35
Hi
This bug is fixed in the latest version. check it out. I'm going to close this issue. if you think problem still exists, open it.

[2020-01-08 21:42] #35 closed

[2020-01-11 04:21] marco2250 opened #41 "What happend to numberFormat in "FlutterSliderTooltip" constructor?"
It seems parameter got removed...

[2020-01-11 06:12] Ali-Azmoud commented on #41
Hi
Yeah, it's removed because of #29 and #27 and similar issues in the future.
You can use `custom` callback in `FlutterSliderTooltip` and use `intl` and return your own value and widget. Also, you need to import `intl` manually in your project

[2020-01-12 20:38] #41 closed

[2020-01-17 14:48] Doflatango opened #42 ""The method 'toDouble' was called on null" when using fixedValues"
Here is the code where the error occured. Does this is a bug or i am using on wrong way?

[code]

The code where i am using fluter_xlider widget:
[code]

[2020-01-17 15:56] Ali-Azmoud commented on #42
Hi
I didn't get any error testing your code with empty `onDragging` method.
Can you share your `onDragging` code as well ?

[2020-01-17 15:59] Doflatango commented on #42
@Ali-Azmoud code updated.

[2020-01-17 16:02] Doflatango commented on #42
@Ali-Azmoud are you tried to call `setState`?

[2020-01-17 16:58] Ali-Azmoud commented on #42
@Doflatango Yeah, unfortunately that's a bug. I will update the package soon and fix it. Thanks for your report

[2020-01-27 13:41] junghyun397 opened #43 "How to set the value of the slider"
Hello, is there a way to externally specify the slider's current position? Maybe... in the following way,
[code]
When A and B sliders needed to move together, I couldn't find a way to implement them without modifying flutter_xlider's code (when B sliders had to be synchronized to A and vice versa).

[2020-01-28 16:48] Ali-Azmoud commented on #43
[code]

Do you want something like above ? if this is not what you want, please describe it a little more.
There is a bug in this version which `lowerValue` and `upperValue` are swaped !

[2020-01-28 23:55] junghyun397 commented on #43
Thank you. The desired function works in the correct way. Cool package is always a favorite. :)

[2020-01-28 23:55] #43 closed

[2020-01-29 08:57] Ali-Azmoud commented on #43
@junghyun397 please see the updated answer. the order of parameters in `onDragging` method was incorrect which it is now corrected.

[2020-01-29 10:30] Ali-Azmoud commented on #42
@Doflatango Hi, This bug is fixed in the latest version. I'm closing this issue. feel free to reopen it if you need to

[2020-01-29 10:30] #42 closed

[2020-01-29 11:51] Doflatango commented on #42
Thanks!

[2020-02-03 16:47] parisa3084 opened #44 "nosuchMethoderror"

[2020-02-04 07:31] parisa3084 opened #45 "called on null"
hi! when I run your code in example file it has this error : the getter 'boxstyle' was called on null.whats the problem??

[2020-02-04 12:30] Ali-Azmoud commented on #45
کدوم مثال رو اجرا کردید. کدش رو قرار بدید اینجا تا اصلاح کنم. متاسفانه مثال ها یکم قدیمی هستن و با آخرین نسخه همخوانی ندارند

[2020-02-05 02:42] hinterlandsupplyco opened #46 "`NoSuchMethodError`: The getter 'boxStyle' was called on null."
Even the most basic  default code does not work and throws an the error in the title.

[code]

[2020-02-05 08:33] Ali-Azmoud commented on #46
Hi. please add this property `tooltip: FlutterSliderTooltip(),` to your slider for now. I fix this bug tonight

[2020-02-05 08:34] Ali-Azmoud commented on #45
لطفا این ویژگی رو
`tooltip: FlutterSliderTooltip()`
رو به تنظیمات اسلایدرتون اضافه کنید تا امشب که من این باگ رو رفع کنم

[2020-02-05 12:39] parisa3084 commented on #45
سلام خیلی ممنون مشکلم حل شد دقیقا مشکل همین tooltip بود

On Wed, Feb 5, 2020, 12:04 Ali-Azmoud <notifications@github.com> wrote:

[2020-02-05 16:35] hinterlandsupplyco commented on #46
This fixes it. Thank you!

I'll leave the bug open for you to close.

[2020-02-05 20:12] #46 closed

[2020-02-05 20:12] #45 closed

[2020-02-05 20:13] #44 closed

[2020-02-15 14:21] MostafaDadkhah opened #48 "How do I fix the minimum value in the bar?"
I want a simple slider  to keep me fixed and just move my right handler. But when I create a sub interval of min and max I can move this interval over the whole interval and the min value changes in that case. I don't want this to happen and I just want my values to change between 1and 100, not between 5and 100, for example. This is my code :
[code]

[2020-02-17 09:53] Ali-Azmoud commented on #48
درود. وقت بخیر. متوجه نشدم منظورتون چیه. لطفا بیشتر توضیح بدید. سپاس

[2020-03-07 20:42] #48 closed

[2020-03-23 14:58] kherel opened #50 "Losing the slider thumb on changing phone orientation"
Hey, great job.

I have small issue:

[code]

![ezgif com-optimize](https://user-images.githubusercontent.com/13748896/77329281-119a6900-6d1e-11ea-8b70-34a37d03306f.gif)

[2020-04-14 09:04] shingohu opened #51 "The selectByTap only support rangeSlider?"
1.The selectByTap only support rangeSlider?
2.Cannot continue to drag when selectByTap。The Sldier can be clicked and then dragged

[2020-04-20 19:46] febg11 opened #52 "Exception when i let go of scrolling"
When i let go of the scroller i get this exception

[code]

[2020-04-20 20:07] febg11 commented on #52
IDo you need to add
[code]
to your class

[2020-04-21 03:27] mrverdant13 opened #53 "[Question] How could I desable the tooltip animation or change its direction?"
I am using a vertical slider. The tooltip has a vertical animation.
I am looking for a method to use a horizontal animation or, if there is no way to do it, disable the whole animation.

[2020-04-21 07:16] Ali-Azmoud commented on #52
Hi, thanks for your feedback and report, please open a PR for this.

[2020-04-22 09:44] RomanJos opened #54 "Is it possible to have value as tickmark with this plugin"
Hi, I'm wondering if I could achieve something like this with this library :
![image](https://user-images.githubusercontent.com/42180076/79966973-8207e780-848e-11ea-876d-888e4697e5f2.png)

[2020-04-25 10:42] febg11 commented on #52
Ok I will do this later today :)

Also  I have a problem with the onDraggingListener

[code]
It doesnt seem to fire for many of the positions e.g. I scrolled from the start to end of the slider and the print output is this

[code]

Do you know why it is missing so many positions? like 2,3,4 etc.

The slider has a range of 0-10 and i wasn't scrolling fast.

It seems so fluid in your example

![imag

[2020-04-25 17:02] febg11 commented on #52
I've sent you a pull request for the controller dispose. Do you want me to create another issue for my above problem?

[2020-04-25 18:43] Ali-Azmoud commented on #52
if you set a big enough number for your `Max`, then a tiny movement will miss many positions I guess. It's not a bug.

[2020-04-25 18:54] Ali-Azmoud commented on #52
I will test this and let you know.

[2020-04-25 20:53] Ali-Azmoud commented on #52
This is my result

![](http://flutterdev.site/public/images/slider.gif)

[code]

[2020-04-25 20:59] Ali-Azmoud commented on #54
Hi
Not with the current version, but with the next version, you can

![](http://flutterdev.site/public/images/slider.gif)

The next version is out in about 1 or 2 days from now

[2020-04-25 23:20] RomanJos commented on #54
Daaaamn man thank you so much !! I've been struggling for like 5 days !!

[2020-04-25 23:20] #54 closed

[2020-04-26 14:00] ferrets6 opened #56 "no response on selectByTap"
Hi,
first of all, thanks for this usefull package! :)

However, I have a problem with selectByTap: it does not make anything.
I also tried to force selectByTap to true (it shouldn't be needed, as it's true by default), but again nothing appens.
No value changed nor handler moved.

Normal "drag and drog" on the handler works well.

What's wrong?
Thanks

[code]
Preview
![image](https://user-images.g

[2020-04-26 14:40] ferrets6 commented on #53
Same question.
With vertical slider, tooltip should be set as "horizontal" or even disable the animation

[2020-04-26 19:00] febg11 commented on #52
Strange. I only have

[code]

I tried adding the tooltip back on to the slider and that works fine for incrementing the text counter.
I would prefer to use the tooltip you have created rather than my static Text() widget but I am unable to get it to be on the left hand side on a vertical slider.

e.g.
![Screenshot 2020-04-26 at 19 55 33](https://user-images.githubusercontent.com/50048162/80316848-

[2020-04-26 19:09] ferrets6 commented on #53
Made a pull request to disable animation #57

[2020-04-26 22:09] ferrets6 commented on #56
I have found a sort of "workaround", but I don't make a Pull Request because I don't know exactly what there is "under the hood".

However, adding this line, the selectByTap works (quite) well.
(but sometimes, nonsense, the event onDragCompleted seems to be not fired)

![image](https://user-images.githubusercontent.com/17033305/80321140-1372b300-881b-11ea-85dd-7d9df6490995.png)

[2020-04-27 04:54] Ali-Azmoud commented on #53
Hi, disabling animation is already done. I'm working on the horizontal tooltip now.

[2020-04-27 04:55] Ali-Azmoud commented on #52
In order to display your own tooltip, you can use `tooltip` property, `FlutterSliderTooltip`, `TextStyle`, `BoxStyle` or just use `custom` and create your own tooltip widget from scratch.

[2020-04-27 05:01] Ali-Azmoud commented on #56
Hi, it's a known bug and is fixed in the latest unreleased version. unfortunately, the `selectByTap` feature is completely disabled in non-range slider in the current version. the next version is out in 1 or 2 days from now

[2020-04-27 06:58] ferrets6 commented on #56
Good! Waiting for the release, thank you!

[2020-04-28 16:53] xjerryg opened #58 "Error when in TabBar"
When placed in TabBar I get the following error when swiping from the tab with FlutterSlider to another tab.

════════ Exception caught by scheduler library ═════════════════════════════════
The following assertion was thrown during a scheduler callback:
'package:flutter/src/widgets/media_query.dart': Failed assertion: line 791 pos 12: 'context != null': is not true.

Either the assertion indicate

[2020-04-29 10:47] hiwa-jalal opened #59 "how to get decimal points from the slider?"
for example i want only a number between 0 and 1 to get picked and i want to include points like 0.5, but i don't know how this can be doing i wrote the below code but i only get either 0 or 1, and how to change the length of the slider.

[code]

[2020-04-29 17:23] febg11 commented on #52
ok thank you

[2020-04-29 18:41] Ali-Azmoud commented on #52
it's done. I am testing it. there are a bunch of options in this package which may take effect

[2020-04-29 18:43] Ali-Azmoud commented on #59
Hi.
You should use `step: 0.1`

[2020-04-29 18:53] Ali-Azmoud commented on #58
I tested it out and got not `Exception`. Could you please share a simple version of your code so that I can reproduce it. Thanks

[2020-04-29 19:35] febg11 commented on #52
Nice! When do you think they will be available on pub.dev for me to use?

[2020-04-29 20:34] xjerryg commented on #58
You are right, I'm sorry. When separated in small simple project I'm also not able to get that exception. It has to be somehow connected with something else in the project.

The strange thing is that if I remove custom definition of tooltip it stops. I will keep trying to find it and let you know if it will be somehow connected with your code.

[2020-04-30 12:55] Ali-Azmoud commented on #50
Hi. please use the latest version. this bug is fixed. I close this issue if you think the problem still exists reopen it.

[2020-04-30 12:55] #50 closed

[2020-04-30 12:59] hiwa-jalal commented on #59
thank you that worked.

[2020-04-30 13:00] Ali-Azmoud commented on #50
Hi. please use the latest version. this bug is fixed. I close this issue if you think the problem still exists reopen it.

[2020-04-30 13:01] #52 closed

[2020-04-30 13:05] Ali-Azmoud commented on #56
Hi, the new version is out. please check it out.

[2020-04-30 13:10] Ali-Azmoud commented on #53
you can now change the tooltip direction or disable it in the latest version. I close this issue if you think the problem still exists reopen it.

[2020-04-30 13:10] #53 closed

[2020-04-30 13:12] Ali-Azmoud commented on #51
Hi, please update to the latest version.
1. is fixed
2. is added.

[2020-04-30 13:12] #51 closed

[2020-04-30 13:12] #56 closed

[2020-04-30 13:17] Ali-Azmoud commented on #54
Hey.

[2020-04-30 13:22] RomanJos commented on #54
Maaan thank you so much for your work

[2020-04-30 13:27] Ali-Azmoud commented on #54
Your welcome, this is how I've implemented the labels. you can do it with your own logic. see the updated code.

[2020-04-30 15:18] ferrets6 opened #60 "onDragStarted and onDragCompleted not fired on selectByTap and not rangeSlider"
I tried the new version you've just released, and found that onDragStarted and onDragCompleted are not fired on selectByTap = true and rangeSlider = false, **if you tap and slide**.
In that case the only event fired is onDragging.

The single tap fires correctly onDragStarted  and onDragCompleted.

[2020-05-01 12:26] RomanJos commented on #54
I got somes issue making it work notably with `FlutterSliderHatchMarkLabel`, I needed to round the percent value in order to have them displayed but after that its just mostly small fixes that can be easily fixed like :

Is there a way to remove the extra padding ?
![image](https://user-images.githubusercontent.com/42180076/80803900-e8d68080-8bb3-11ea-8099-6369d2be026d.png)
I rounded the end of th

[2020-05-01 21:26] Ali-Azmoud commented on #54
Hi, w8 for the next patch release. today or tomorrow

[2020-05-01 22:28] Ali-Azmoud commented on #60
Hi, check out the new version. Thanks for your bug report

[2020-05-01 22:32] Ali-Azmoud commented on #52
Hi, missing-positions is fixed in the latest version. check it out.

[2020-05-01 22:35] Ali-Azmoud commented on #54
`Is there a way to remove the extra padding ?` I think you mean `distanceFromTrackBar`. change it's number to get the result you want

`Is there any other way instead rebuilding the entire hatchMark to highlight the one selected`
No, flutter doesn't work like that, there is no `modify`. but the problem is solved in the latest version.

and about that control bug, it is fixed as well.

[2020-05-02 06:52] RomanJos commented on #54
For removing the extra padding I modified 1.8 to 1 to only get the width of the track
https://github.com/Ali-Azmoud/flutter_xlider/blob/011b0e42fd81d5f2f964385fe68382d0bf11179c/lib/flutter_xlider.dart#L303
1.8 vs 1:
![image](https://user-images.githubusercontent.com/42180076/80857253-fe4db800-8c50-11ea-8aa9-ec2d7322df45.png)
![image](https://user-images.githubusercontent.com/42180076/80857265-276e

[2020-05-02 13:52] febg11 commented on #52
It works perfectly. Thanks a lot for adding this feature :)

[2020-05-03 09:33] Guarn opened #62 "Controlled values seems buggy"
Hey, great works overall, I just have a problem while controlling the **values** on a rangeSlider.

Lets take the following example (simple Flutter new and add your widget :

[code]

The **values** of my slider is controlled by **data**. I've put a reset button to restore initial values.

But the **reset** seems buggy. Sometimes, it works, then I full reload, it doesn't work anymore (cursors stays

[2020-05-03 09:55] Ali-Azmoud commented on #62
Hi
which version are you using? I've tested your code and it works well.

[2020-05-03 09:56] #60 closed

[2020-05-03 09:58] Guarn commented on #62
[code]

I'll try with 3.3.1

[2020-05-03 10:05] Guarn commented on #62
It seems a lot better with 3.3.1.

Sorry : /

[2020-05-03 10:05] #62 closed

[2020-05-03 10:26] pisa97 opened #63 "Default initial value for Slider"
Hi,

Thank you so much for this wonderful widget. Why is it not possible to add an initial value to the slider?

[2020-05-03 10:40] Ali-Azmoud commented on #63
Hi, thanks
Sorry, I couldn't understand what you mean, can you provide more details

[2020-05-03 10:43] pisa97 commented on #63
I mean, set a default value to the slider, but looking at the closed issues I find the solution. I'm sorry for that.

I suggest you to add this inside the examples because it is not so much clear how to do that.
Again, thank you!

[2020-05-03 10:43] #63 closed

[2020-05-03 13:04] AlexBacich opened #64 "Set state inside xlider isn't happening when [values] are set to same value as xlider was created"
Thanks for awesome library. Great job.

I want to report an issue.

When xLider is created it is created with default value (50 in my case). When you use external buttons to setState with new value  - xLider isn't rebuilding when reaches 50.
Let's say you were on 50 and tap on + button. Value becomes 51 - xLider rebuilds - everything is fine. But if you tap on - then - value becomes 50 again (same

[2020-05-03 13:32] Ali-Azmoud commented on #64
Hi, thanks for your report.
please try the latest version, I tested it and it works fine for me.
and for the showcase, yes absolutely. it will be awesome

[2020-05-03 13:56] Ali-Azmoud commented on #64
Hi, thanks for your report.
Yeah, that's a bug and this behavior is made to prevent some other bugs! I start working on this tonight.
and for the showcase, yeah absolutely. it would be awesome

[2020-05-03 19:42] AlexBacich commented on #64
Another issue I've noticed (maybe I should fill another bug) - if I put custom values - touch area is decreased significantly to tiny dots representing declared custom values. I guess expected behavior is to still be able to touch anywhere and slider value goes to closest custom value.

[2020-05-04 06:11] Ali-Azmoud commented on #64
Hi, there is a `dev` version available, since there are some other updates, I will release a stable version when those are available as well. You can use this `dev` version until then.
thanks

[2020-05-04 07:35] Ali-Azmoud commented on #64
It would be better to show an image, it's still not clear to me :(

for the step-range, use `stepRange` and `FlutterSliderStepBehavior`. the names may change in the next version

[2020-05-04 09:41] Nico04 opened #65 "FlutterSliderTooltip.format doesn't work / never called"
With a very simple example, it seems that FlutterSliderTooltip.format doesn't work, and it's never called.

[code]

So I can't format the tooltip as I need.
Am I doing someting wrong ?

Thanks

[2020-05-04 10:58] Ali-Azmoud commented on #65
yeah, some recent changes made some brand new bugs.
please use pre-release version 3.4.0-dev.1 until I fix all new bugs.

[2020-05-06 09:31] LiJian0129 opened #66 "ios triggers click"
Android can only slide，but ios not

[2020-05-06 13:13] Ali-Azmoud commented on #66
Hi. Could you please provide more details.

[2020-05-07 00:40] LiJian0129 commented on #66
Android slide trigger onDragCompleted，ios click trigger onDragCompleted

[2020-05-07 05:14] #66 closed

[2020-05-07 19:09] xbadal opened #67 "Trackbar and Edge"
1. Unable to set the width of Trackbar.
2. how to set the edge like rounded etc.

[2020-05-07 19:16] Ali-Azmoud commented on #67
Hi. please read this section [trackbars](https://github.com/Ali-Azmoud/flutter_xlider#trackbars)

there is no `width` for trackbar, its `height` which works for both horizontal and vertical

[2020-05-07 23:26] #65 closed

[2020-05-08 06:46] Ali-Azmoud commented on #64
Hi, next version is out. Its more customizable. Its good to see your slider in showcase section.

[2020-05-08 07:29] AlexBacich commented on #64
Hi, thank you! Will take a look shortly and prepare stand-alone version for showcase.
As well as will provide details on issue with custom values.

[2020-05-11 22:13] hiwa-jalal commented on #59
now the `step` doesn't accept a double variable!

[2020-05-11 22:14] #59 closed

[2020-05-12 05:53] javiermedina-c opened #68 "Not working with version 1.17.0 stable channel Flutter"
Hello Ali, the current version of the package is not working with the current version of the Flutter SDK in the stable channel. The widget appears on the screen, but the slider on the event onDragging doesn't change the position of the slider. I tried making a simple side project to reproduce the bug from my main project, with the same result.

The version 3.3.1 is working with this version of the

[2020-05-12 07:27] Ali-Azmoud commented on #68
Hi, I've updated my flutter to version 1.17.0 and it is working well. if your problem still exists, could you please provide more details of the exception or any error. thanks

[2020-05-13 06:49] #67 closed

[2020-05-13 06:49] #58 closed

[2020-05-14 15:56] hugocharbonneau opened #69 "axis: Axis.vertical show up inverted: Maximum value at bottom"
I am using this constructor's param but the render shows inverted. Maximum value is down. And arrow point down.

FlutterSlider(
                    values: [50],
                    max: 100,
                    min: 0,
                    axis: Axis.vertical,
);

flutter_xlider 3.4.0
![Capture](https://user-images.githubusercontent.com/9326043/81957034-0f47e300-95da-11ea-80a4-923b4cfae4ee.PNG)

[2020-05-14 18:24] Ali-Azmoud commented on #69
Hi
use `rtl: true`

[2020-05-14 18:34] hugocharbonneau commented on #69
That was very easy! Thanks a lot.

Hugo
514-699-9695

Le jeu. 14 mai 2020, à 14 h 24, Ali-Azmoud <notifications@github.com> a
écrit :

[2020-05-15 06:51] #69 closed

[2020-05-17 17:38] codingbeans commented on #68
@Ali-Azmoud
Hello, I just got to know this very cool flutter package and I also failed to make it work at first (the same problem as @javiermedina-c mentions here. **I think the example README shows look a little bit confusing because it does not work as a newcomer may expect**. You'll need to change

[code]

to

[code]

I hope this is helpful to people who encounter the same problem.

[2020-05-19 03:38] shingohu opened #70 "GestureDetector should not be intercepted when disabled"

[2020-05-20 15:40] 32mandev opened #71 "Question about changing the slider value regardless of the handler position or where the user touch the track"
Hello and thanks for this very nice and helpful library.

I would like to have a slider which, when the user touch the track and move his/her finger for example 20 pixels to the right, increase the value in proportion (until we reach the maximum), regardless of the handler position.

On a default slider, when the finger touch the track and move, the handler jump to the finger position, even if the

[2020-05-20 18:51] Ali-Azmoud commented on #71
Hi.
I think you should set `selectByTap` to false. Let me know if thats not what you want

[2020-05-21 06:39] 32mandev commented on #71
Hi,
I already tried `selectByTap : false, jump : false` but it's doesn't give this behaviour.

Let me try to explain it. Suppose you have a slider like that:

[code]
Let's say the current value is 50.

When the user press his/her finger around -75 and move it one centimeter to the right, currently the handler jump to the finger position and then the value change to something like -55 = -75+20.
I'd

[2020-05-21 15:14] Ali-Azmoud commented on #71
I think you should use `onDragging`. you can define a custom variable and do your calculations based on lower and upper values and put the result in your custom variable and display it on the screen.

[2020-05-23 18:34] joaowd opened #72 "FlutterSliderTooltip too small"
Would love if it would be possible to change the size of the tooltip:

![IMG_0258](https://user-images.githubusercontent.com/10066011/82737973-6feac480-9d2c-11ea-9b23-22c3eee56c44.jpg)

[2020-05-23 18:38] Ali-Azmoud commented on #72
Hi. Have you tried to change the `textStyle` of tooltip and increase the font size?

[2020-05-23 18:39] joaowd commented on #72
Thanks for the fast reply.

I'm not using the textStle since it would not let me use 2 different colors:

<img width="816" alt="Screenshot 2020-05-23 at 19 38 55" src="https://user-images.githubusercontent.com/10066011/82738085-22bb2280-9d2d-11ea-9a81-10ca56fd8bce.png">

[2020-05-23 18:44] joaowd commented on #72
_sliderInfoForceValue method:

<img width="1092" alt="Screenshot 2020-05-23 at 19 43 12" src="https://user-images.githubusercontent.com/10066011/82738184-c4427400-9d2d-11ea-8f70-6de8948277f7.png">

[2020-05-23 18:53] Ali-Azmoud commented on #72
I'm sure that RichText has some properties for `textStyle` or scaleFactor or something like that as well. please modify those properties and let me know if it works as what you want or not.
The tooltip widget is wrapped by `FittedBox` widget.

[2020-05-23 19:07] Ali-Azmoud commented on #72
the tooltip is wrapped with a `FittedBox` widget, so I don't think changing font helps. I just fixed it now. and it would be available in the next version.

[2020-05-23 21:57] joaowd commented on #72
that is great! I will wait. Thank you

[2020-05-26 07:03] #64 closed

[2020-06-07 14:42] 32mandev commented on #71
Thanks!

[2020-06-07 14:42] #71 closed

[2020-06-08 21:20] ThinkDigitalSoftware opened #73 "Support defining the value of the slider"
With a `Slider`, we're required to supply a value. This allows us to start at any point in the slider. I wasn't able to find that property with this widget. Can that be added?

[2020-06-08 21:20] ThinkDigitalSoftware opened #74 "Add support for supplying a widget for the thumb"

[2020-06-11 00:23] Ali-Azmoud commented on #73
Yes, `values` with a single value is what you want.

[2020-06-11 00:28] ThinkDigitalSoftware commented on #73
Got it. Thanks. Could you look into splitting this into 2 widgets? That way we can move all the parameters that don't make sense for a single slider out into a new class

[2020-06-11 00:39] ThinkDigitalSoftware commented on #73
Also, if `values` is of type `List<double>`, then why are the function definitions for the dragging using dynamic? Sometimes it puts out an integer and sometimes it puts out an empty `String`
[code]

[2020-06-11 08:14] Ali-Azmoud commented on #73
because slider only works with double numbers but you may have custom values in output. For example take a look at `fixed values` section in the docs. The output can be anything.

[2020-06-15 07:21] zpawlo02 opened #75 "Slider is rebuilding when setState(){};"
When I'm trying to use setState in onDragCompleted() method, widget is rebuilding and slider is going back to starting position

[2020-06-15 07:25] Ali-Azmoud commented on #75
Hi. you need a tiny change in your slider.
change `values: [ 0 ]` to `values: [ _lowerValue ]` // I assume you initialized your slider with 0

and inside your dragCompleted method.

[code]

[2020-06-15 09:33] #75 closed

[2020-06-15 14:05] joaowd opened #76 "NoSuchMethodError 'dependOnInheritedWidgetOfExactType'"
I'm getting this error on the slider:

https://sentry.io/share/issue/ffa477c45dcf4b9caf4fc5cce4db47c1/

[2020-06-15 14:16] Ali-Azmoud commented on #76
Hi.
Can you share a little more information? or share some code to reproduce it.
Thanks

[2020-06-15 15:02] joaowd commented on #76
Another one:

https://sentry.io/share/issue/c8016035c7fb47a1bb2031dc3c0f0077/

I will try to share the code later.

Thanks for the reply

[2020-06-19 15:44] joaowd commented on #76
Hey @Ali-Azmoud

This is my slider [code](https://gist.github.com/joaowd/4f4a6e8730da139d8a58c0d0b7195f49)

[2020-06-20 06:15] Ali-Azmoud commented on #76
Hi. sorry, due to the USA sanctions, I can't access private repositories.

[2020-06-20 09:46] joaowd commented on #76
Its public now :)

[2020-06-20 19:55] Ali-Azmoud commented on #76
Thanks but it is still a reproducible code. `_minTime`, `_maxTime` and some other variables are needed. and also its good to know your flutter doctor information.

[2020-06-24 01:59] oscarshaitan commented on #74
can use the custom inside `FlutterSliderTooltip `that return a widget example
[code]

[2020-07-03 20:19] Presheda opened #77 "Exception thrown upon Navigation"
![Screenshot (40)](https://user-images.githubusercontent.com/26353504/86495859-e7236780-bd72-11ea-8a6a-748e94cc7cb7.png)

[2020-07-04 09:31] Ali-Azmoud commented on #77
Hi. can you please provide a sample code so I can reproduce and test it?

[2020-07-04 18:16] Presheda commented on #77
The error no longer occur. i don't know why but if it comes again i will re-open the issue

[2020-07-04 18:16] #77 closed

[2020-07-09 00:41] smcassar commented on #72
Is there any news on this? I've just run into the same issue and it looks like the tooltip is constrained by the width of the handle, which makes it difficult to include words in the tooltip

[2020-07-09 14:42] joaowd commented on #72
Yes the issue still exists.

[2020-07-17 07:28] Arun1811 opened #78 "Is there any way to make drag more smooth?"

[2020-07-23 20:54] AlexHartford opened #79 "Any way to make a slider have 3 colors?"
Hi, thanks for the great library.

I am trying to make something like this:
![image](https://user-images.githubusercontent.com/28658524/88337321-64475a00-cceb-11ea-95dc-206766a706e9.png)

So far this is what I have been able to achieve:
![image](https://user-images.githubusercontent.com/28658524/88337574-ca33e180-cceb-11ea-9164-63986229e9fc.png)

I can't figure out how I could possibly get the bot

[2020-07-25 09:30] arezaee opened #80 "first tap not fire onDrageCompleted"
Hi, Thanks for beautiful and useful widget.
I have created a simple slider,
just after first tap , onDragStarted fired, but onDragCompleted not fired,
 and after second try it works well.

I think it's a bug.

[2020-07-27 22:28] AlexHartford commented on #79
Ended up implementing my own track and using the built-in material slider lib.

[2020-07-27 22:28] #79 closed

[2020-08-01 02:15] Tabaka opened #81 "Enhancement: Allow configuration for a stream of values, and maintaining drag position in tooltip display on steam update to values"
I was able to get around this issue by creating a bool and a double in a wrapper widget which tracks "isDragInProgress" and "toolTipValue" respectively. I set toolTipValue to the value provided in the  custom: (value) {} in the toolTip: FlutterSliderToolTip widget, and then provide toolTipValue in the values: [ ] list as long as isDragInProgress is true (which is set true in onDragStarted, and fal

[2020-08-07 01:22] oscarshaitan commented on #80
I have sometimes the same bug, pass for onDragStarted and for  onDragging but not on onDragCompleted

[2020-08-11 03:55] HuynhThien82 opened #82 "Range slider minimum distance display wrong during scrolling right handler"
Hello,
As I mentioned above, I set minimum distance is 1, during I'm scrolling up, slider not display correctly, but the value is right, after scrolled slider re-display at right value. Left handler is working well. This also happen in horizontal axis. You can see the image below.
![20200811_104834](https://user-images.githubusercontent.com/14513693/89855437-aa902a80-dbc0-11ea-8644-1efb9da5a140.gi

[2020-08-13 18:24] #68 closed

[2020-08-14 21:43] ebelevics opened #83 "On first time Widget build method slider isn't fully rendered"
When I'm changing my views on Bottom navigation bar to view where xlider is located, at initial build slider doesn't take necessary sizes and values. For a millisecond xlider initializes and after that takes real proportions with needed values.

After switching for multiple times between pages, these micro differences at start does make bad UX overall.

[2020-08-15 09:26] Asian-Digital-Mind opened #84 "Disable Tap on Trackbar"
How can I disable any touch regarding the trackbar? I tried the selectByTap and Jump. When I tap and move the trackbar, the handler will follow. How can I disable this?

`FlutterSlider( values:[info.rent.toDouble()], max: 10000, min: 0, selectByTap: false, jump: false,
                        onDragging: (v,lowerValue,uv) { setState(() { },
                        onDragCompleted: (v,lowerValue,uv

[2020-08-27 13:57] NightSkyDev commented on #72
Any update on this or work-arounds?

The tooltip would be really great, but it's so tiny when just showing the Day and hour (like: 'Thu, 9 PM') as to make the tool tip less than useful.

[2020-08-31 09:48] grangoni opened #85 "Ignored steps seem not to be treated correctly if axis does not start from zero"
If the lowest value of the axis is not zero, it seems that ignoredSteps are not treated correctly. I mean that ignored steps are not positioned correctly on the axis. There are precisely shifted by the axis origin value.

I managed to circumvent the issue by deducting the origin value of the axis from all ignored steps (from and to) but it seems not to be coherent with the other parameters of the

[2020-09-15 12:43] PrashantGauravSingh commented on #75
@Ali-Azmoud  Issue is still persisting for me . Any other way to handle this

[2020-09-24 08:21] niklasarnitz opened #88 "Unable to place Slider in Dialog"
# Problem:
The App throws an exception when the Slider should be shown inside an Dialog.

## Exception:
https://pastebin.com/yy3Uqt6j

## flutter doctor -v

[code]

# Code:
(There may be one ')' to much..)
[code]

[2020-09-25 17:45] sanekyy opened #89 "Error: No named parameter with the name 'overflow' on master channel"
After upgrade flutter in the latest master channel 1.22.0-10.0.pre.251 , I have this build error:

[code]

This line causing this error because overflow is removed in Stack acorrding issue flutter/flutter#66030
It needs to be changed into clipBehavior
flutter doctor:

[code]

[2020-09-28 12:37] MR0100 opened #90 "Error: No named parameter with the name 'overflow'."
/Volumes/Media/Software/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_xlider-3.4.0/lib/flutter_xlider.dart:322:19: Error: No named parameter with the name 'overflow'.
                  overflow: Overflow.visible,
                  ^^^^^^^^
/Volumes/Media/Software/flutter/packages/flutter/lib/src/widgets/basic.dart:3273:3: Context: Found this candidate, but the arguments don't match.
  Stack({

[2020-09-28 12:39] MR0100 commented on #90
In the Stack you use "overflow: Overflow.visible" which is not actually property of Stack.

[2020-09-30 05:31] kishan-sa opened #91 "i want to add my own button inside of custom tooltip is it possible for current version?"
![Screenshot 2020-09-30 at 11 01 04 AM](https://user-images.githubusercontent.com/51823698/94646636-4100e280-030c-11eb-9034-c927ff2ae725.png)

[2020-09-30 16:55] HiroshiHorie commented on #90
I'm having the same issue 🤔
Looks like same issue #89

[2020-10-11 22:02] procodingtools opened #92 "Not right position when Tap on Release mode. Android/iOS"
Hi Ali Azmoud.
Fiirst, i want to thank for this great plugin/library.
But the returned position when i tap is wrong. This happens only in release mode and not in debug. I have no issue with slide.
And thanks.

[2020-11-08 11:57] rienkkk opened #93 "selectOnTap returns wrong value inside a listview"
I have a listView (build with [this package](https://pub.dev/packages/flutter_swiper), each 'view' inside my listView has a xlider slider in it.

Even when I strip all unnesecary code and stick to the basics I get the wrong value back from selecOnTap as seen in this video below:

![ezgif-7-a4d278c26d4e](https://user-images.githubusercontent.com/57758628/98464225-bdb39600-21c1-11eb-9e8c-79a7597a669

[2020-11-16 11:13] owenchenwifigarden commented on #39
@Ali-Azmoud

Hi Ali, first of all, thanks for the amazing widget.

I have checked the issue list and I can only find this issue is the most similar to mine, I want to know that is it possible to avoid moving the handler when I want to scroll the page?
Because my app's xlider will be at the position that user will be probably dragging down,  thank you very much.

[2020-11-24 03:58] Oberdiah commented on #83
I've noticed this too. A quick hack is to use the FadeIn package (https://pub.dev/packages/flutter_fadein) and set the duration to a couple of milliseconds. That way, the xlider is invisible when it's formatting itself on the first few frames.

[2020-12-13 15:57] naxiemolv commented on #83
same problems.....

[2020-12-30 05:59] dodatw opened #94 "Is is possible support magnetic"
I have a center slider bar, for -100 to 100.
I want to have a magnetic effect when user seek to 0. (More easy set 0, the magnetic distance maybe +5,-5 step).
It is possible implement n Xlider?

Thanks.

[2021-01-12 16:34] Sprechen commented on #92
We have got the same issue..

[2021-01-17 14:48] febg11 opened #95 "selectByTap seems to have stopped working"
I am able to select using tab when the selectByTap is set to false... Could this have been broken in the last update?

[2021-01-25 00:42] alanmosely commented on #83
Same issue here, hacked around it with [AnimatedOpacity](https://api.flutter.dev/flutter/widgets/AnimatedOpacity-class.html) to fade in after 200ms.

[2021-01-25 13:56] Sprechen commented on #95
I have the exactly same problem!

[2021-01-28 14:11] jeet-ardeshna-stl opened #96 "Values are offset by +minimum when using RangeSlider with RangeList"
Hi, I guess the title is quite confusing, so let me explain the issue:

I'm using a RangeSlider, with minumum value as 10 and maximum value as 1000,
I have a SliderStep list as: (10 to 100 with step 10) and (100 to 1000 with step 100)

Now, the values from 10 to 100 work just fine, all the Drag callbacks return correct lower and upper values,

but the values above 100, have a + minimum offset, (i.

[2021-01-31 16:18] Stever1975 opened #97 "Example value parameter"
In the example, value parameters are hardcoded so slider values are not updating.

[2021-01-31 16:28] jlnrrg opened #98 "Default Color dependent on Theme.of"
I noticed that all default colors are set as fixed `Colors.value`.
For the general design it might be beneficial to use  `Theme.of(context)`, as this saves a lot of work for implementing.
Example: a user changes his theme to red and has a dark mode, then it'd look like this, which breaks the preset design.

![Peek 2021-01-31 17-26](https://user-images.githubusercontent.com/77293597/106390638-a283a

[2021-01-31 18:31] jlnrrg opened #99 "the method '+' wass called on null - with FlutterSliderTooltipPositionOffset(bottom"
I noticed an error, which fires when I use FlutterSliderTooltipPositionOffset(bottom: 10)
It is not time critical, as you can work around it by using FlutterSliderTooltipPositionOffset(top: -10) with negative values, just wanted to let you know.

This is my FlutterSlider build:

[code]

[2021-02-01 12:59] jlnrrg commented on #99
I noticed that there is already a PR for this: #86

[2021-02-12 05:10] jeet-ardeshna-stl commented on #96
The issue also exists in normal, single value slider.

[2021-02-25 10:42] ehaberkorn opened #100 "On drag one value keeps falsely showing up as selected"
If I set the percent inside on FlutterSliderFixedValue to 3 and the value to 6, the 6 keeps showing up as selected even if it is not. When I leave the 3 out as percent everything works as expected.
Please refer to the code snippet below.

[code]

[2021-03-05 08:56] ModWU opened #101 "How to add additional buffers to the progress？"
My project is a video player, which can drag the progress bar and needs to buffer the progress and play the progress. This library does not provide the implementation function of multi-progress.

[2021-03-05 13:20] Ali-Azmoud commented on #100
Hello. sorry for my late response.
This is a bug and is fixed in the upcoming version.
The cause of the bug is `setState` which sets state to initial value. and your initial value in `values` array is 3, so the fixed value for 3 is 6
Also the way you use `values` is not correct. `values` array only accepts two number, one for lower and one for upper values.
the next version will be ready in the ne

[2021-03-05 16:31] nehal076 opened #102 "Support null safety"
This is a request to add support for [null safety](https://dart.dev/null-safety) to `package:flutter_xlider`
We depend on your awesome package, so would be great to have null safety enabled.

The Dart/Flutter team already encourages publishing the migrated packages: See this [blog post](https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010).

See the [mi

[2021-03-05 20:34] Ali-Azmoud commented on #102
Hi @nehal076
Stay tuned, next version is coming out pretty soon. and it will support null safety as well

[2021-03-05 22:42] Ali-Azmoud commented on #82
Hi @HuynhThien82
Sorry for my late response, if you're still using `FlutterXlider`, could you please share your code so that I can reproduce it. thanks

[2021-03-06 15:57] AlexBacich commented on #102
Thanks @Ali-Azmoud , can't wait this.

[2021-03-06 23:07] Ali-Azmoud commented on #101
Hi @ModWU
There is not a feature named `multi-progress` but there is a way to achieve what you want.
You can use `Hatchmark` to place your desired widget on the slider.
sample code:

[code]

[2021-03-06 23:13] Ali-Azmoud commented on #99
Hi @jlnrrg
Sorry for my late response, and thank your for your report. this bug is fixed in the next upcoming version.

[2021-03-07 19:01] Ali-Azmoud commented on #93
Hi @rienkkk
Sorry for my late response, could you please share your slider code so that I can reproduce it. thanks

[2021-03-08 06:26] ModWU commented on #101
Hello, I used your code, but the effect is not as expected, the progress bar will flash.

[2021-03-08 06:26] ModWU commented on #101
Hello, I used your code, but the effect is not as expected, the progress bar will flash.

[2021-03-08 12:22] Ali-Azmoud commented on #101
@ModWU could you please show me an image of the result. or a gif to see the flash effect.

[2021-03-11 11:18] ehaberkorn commented on #100
Hi, thanks for the info.
I have fixed my values to only two.
Also I found out that, if any of the other widgets I use in my view calls setState() the slider gets reset. I guess that this will be fixed with the next version because it is related to this issue.

[2021-03-12 23:41] dannycortesv opened #104 "Scrolling during range slider selection"
Not an issue but a question or feature request:

I need a range slider to let user to select from 5 to 30 seconds from a video of 1 hour or more, so i need to let user to move  as horizontal scrolling so the range isn't too small to let user to move the whole range. Any idea?

[2021-03-18 14:40] tomasbaran opened #105 "Vertical Slider initial loading causes flickering"
Horizontal Slider is fine, only vertical causing the issue.

### Expected Result (horizontal works as expected)
1. First it loads the slider
2. Then it shows the value

https://user-images.githubusercontent.com/25743901/111643539-f3fbc480-87f6-11eb-9ea4-707e71fdafd0.mp4

### Actual Result (vertical should work the same way as horizontal just in the vertical direction)
1. Loads the slider with the

[2021-03-19 09:39] ehaberkorn commented on #100
@Ali-Azmoud  is there any progress? Sorry for the pressure, but I need this urgently...

[2021-03-23 11:43] tomasbaran opened #106 "[suggestion][new feature] Add iOS Control Center Slider option"
![IMG_538ACDDFFC7F-1](https://user-images.githubusercontent.com/25743901/112141037-b6b77e00-8bcc-11eb-80e3-00683dffa4eb.jpeg)

[2021-03-23 11:44] tomasbaran commented on #105
it also happens in the --release version.

[2021-03-27 10:10] arslan9380 commented on #100
still not fixed?

[2021-03-29 12:19] dynaevdv commented on #102
Hi @Ali-Azmoud

Is null-safety version on pause? Your widget is pretty amazing, thank you very much

[2021-03-31 13:57] kaal-dam commented on #102
Hello @Ali-Azmoud

Would it be possible to have an ETA ? you said it would be out soon.

[2021-04-01 06:49] lionnner opened #107 "when will nullsafety release ?"

[2021-04-01 10:04] MyisCARRY commented on #107
There is a pull request with sound null safety, you can import it into your project

[2021-04-02 03:17] lionnner commented on #107
better release to pub.dev

[2021-04-15 20:11] zeienko-vitalii opened #110 "Slider shows incorrect value after tap"
### Problem:
Slider shows incorrect value on the first tap after it's being showed sliding from the bottom of the screen.

### Description:
Slider shows `upperValue` on first tap in the following scenarios:
if slider is used in the BottomSheet widget that will pop up from the bottom of the screen by using either custom implementation with `SliderTransition`, `AnimatedPositioned` or just using `sho

[2021-04-28 18:02] FetFrumos commented on #107
Any news? I Need release on  pub.dev

[2021-05-04 07:24] kaal-dam commented on #107
a PR has been merged but no release on pub.dev after that.

[2021-05-07 17:44] remoteportal commented on #107
JUST DO THIS in pubspec.yaml !!!

`flutter_xlider:
    git: https://github.com/Ali-Azmoud/flutter_xlider`

[2021-05-07 18:13] remoteportal opened #111 "If wrapped with a Row() object the slider just disappears from the screen"
[code]

[2021-05-10 12:01] kaal-dam commented on #107
not really an acceptable solution for a production environment

[2021-05-13 02:43] leekaimun opened #112 "Flutter still unable to recognize package as null-safety"
environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter_xlider: ^3.4.0-dev.3

During flutter build, it still complains that the package is not null-safe.

[2021-05-20 11:03] lroige commented on #112
Please @Ali-Azmoud update pub version so that the already merged null-safe version is available for all.

[2021-06-01 20:05] BBarisKilic commented on #107
With Flutter 2.2 it is not possible to use a package that does not support null safety.

There is a workaround like `flutter run --no-sound-null-safety` yet I would like to see the null safety version of this package on pub.dev

[2021-06-06 06:48] yanivshaked commented on #112
@Ali-Azmoud Can you please release the latest version of the plugin with null safety support?

[2021-06-06 13:54] ydotmalik commented on #112
Even when I used the null compatible version from master, this package has issues regarding the selectable region of the thumb. I ended up building my own slider by following this [answer](https://stackoverflow.com/questions/67776380/custom-slider-thumb-selectable-region-incorrect-with-custom-slider-track/67782814#67782814). It really wasn't much more difficult than using this package.

[2021-06-15 15:12] nicolasvahidzein opened #113 "PLEASE UPDATE TO NULL SAFEY"
Hello,

can you please update to null safety? Your package is wonderful but we are all quite stuck. I see i am not the only one requesting the update. Thank you for your dedication. Cheers.

[2021-06-18 10:28] nehal076 commented on #113
+1

[2021-06-18 10:30] nehal076 commented on #102
Hi @Ali-Azmoud , please

Hey @Ali-Azmoud,
This package is still not updated to null-safety..

[2021-06-18 17:18] fdietze commented on #105
The redraw happens because of a delayed setState in the build method:

[2021-06-20 06:59] hassanannajjar commented on #113
+1

[2021-06-20 12:26] ranamajaida commented on #113
+1

[2021-06-20 12:27] ALAA999 commented on #113
+1

[2021-06-21 05:00] om-chevli commented on #63
Hey! What's the solution for this problem @pisa97 ?

[2021-06-29 18:44] Xmindz commented on #113
+1

[2021-06-30 07:21] minyethu commented on #84
Any update on this?

[2021-07-01 11:09] yanivshaked commented on #113
+1

[2021-07-01 18:07] vmeretin opened #115 "Null check operator used on a null value"
[code]

We use version from master branch

[2021-07-05 13:32] nehal076 commented on #113
Any update on null-safety. I am stuck with my project I want to upgrade it @Ali-Azmoud

[2021-07-06 13:32] dedvalson opened #116 "Question: How to duplicate item on Read Me page"
The ReadMe for this widget has an example (right under the heading Tooltips) in which the track bar left of the lower handle is green, between the two handles is red and right of the upper handle is grey.

![image](https://user-images.githubusercontent.com/6987399/124608806-09940900-de3d-11eb-8a79-b64a4aac658b.png)

Thus there are 3 different track bar colors involved.

How did you achieve this? I

[2021-07-06 14:18] vmeretin commented on #115
[code]

[2021-07-09 09:04] salihagic commented on #113
+1

[2021-07-09 09:14] nehal076 commented on #113
Do it please

[2021-07-18 08:09] moshe-shaham-intel opened #117 "Example with hatch marks not working"
I'm trying to create a slider with hatch marks like the example. Even if I take the example code exactly, I end up with a squeezed slider like in the screen shot.

![Screenshot_1626595614](https://user-images.githubusercontent.com/69458957/126060331-6c09eb10-22b5-4cba-bf38-0d20924e7f1a.png)

[2021-07-19 12:02] kainosk opened #118 "Wrong values are notified when changing value while transition."
#### Problem:

Wrong values are notified when following below steps.

1. Change values property while page transition.
2. Drag outside of thumb
3. Wrong values are notified from slider and wrong handler position is displayed.
    * Handler will jump to left end. (expected behavior is following pointer.)

https://user-images.githubusercontent.com/15308038/126156593-e9065f40-34e4-401a-9be4-2e743e4e7

[2021-07-28 05:25] nateshmbhat commented on #113
@Ali-Azmoud can you please release the current master branch package in dart to support null safety ?

[2021-08-09 21:27] aytunch opened #120 "Is there a way to always show the active handler at the top z-index"
Let's say lower and higher handlers are overlapping at the moment;
The package always show the same handler at the top of the stack.
This causes both of the handlers displayed at the same time (concentric circles)
What would be nice is when user makes one of the handlers active(e.g. dragging), that specific handler should be rendered on top of other handler.

[2021-08-10 18:08] alibabaintelligence commented on #102
It's August and null safety support is still missing, what's happening? :(

[2021-08-20 04:49] tsvillain commented on #112
flutter_xlider:
      git:
        url: https://github.com/Ali-Azmoud/flutter_xlider.git
        ref: master

Master branch supports Null Safety but the pub version has not been updated use this.

[2021-08-20 04:49] tsvillain commented on #113
flutter_xlider:
      git:
        url: https://github.com/Ali-Azmoud/flutter_xlider.git
        ref: master

Master branch supports Null Safety but the pub version has not been updated use this.

[2021-08-28 12:16] tomasbaran commented on #105
Big thanks @fdietze Your solution does fix this issue. Too bad, your pull request hasn't been accepted yet.

[2021-09-17 06:36] flamyoad opened #121 "How to make slider move when FlutterSliderHatchMark is tapped"
Text 1       Text 2        Text 3  Text 4
--o----------------------

Above is a slider UI, assuming I want the slider to slide when tapping on Text 3, how to do it?

Because `FlutterSliderHatchMark` does not have callback for to control the slider.

[2021-09-20 08:22] gilescm commented on #113
Hi, is there any update on when the pub version will use the null safety release?

Depending straight on the master branch via git isn't viable for the project I'm working on at the moment

[2021-09-22 22:16] ampyoso opened #122 "Please add focusNode, autoFocus, and focusColor properties"
To make the app keyboard accessible, Flutter_Xlider needs to have keyboard control enabled with focus node and autofocus property support.

[2021-09-23 00:46] nicolasvahidzein commented on #113
Ok this is looking bad. Is this package abandonned?

[2021-09-23 00:47] nicolasvahidzein opened #123 "ABANDONNED PACKAGE?????"
Hello,

is this package abandonned? It sure feels like it since 2020 when your last release was published.

[2021-09-23 14:13] stasvo commented on #113
What is reason that pub version still not updated to null safety while master branch is support it? Is master branch have some important issues which which do not allow updating pub version?
If yes, which issues need to be fixed in order to be able to update the pub version as soon as possible?

[2021-09-30 18:31] maltub9 opened #124 "release error"
the slider not working in release but working perfectly in debug

[2021-09-30 18:48] #124 closed

[2021-10-01 08:21] HugoHeneault commented on #123
Good question but the title might be nicer to open-source maintainers. Don't forget you're not paying for any of the time the author took to create this package.

If you'd like to have things updates, take some time, craft a PR and allow everyone to continue enjoying open-source plugins.

🍻

[2021-10-01 08:37] nicolasvahidzein commented on #123
The title is purposely blunt because there has been 0 activity in a very long time. If you look at my activity i am always respectful and here we needed a response from the community. Most open source project dont get motivation from money btw. They do it because they love what they do. If and when i have the means to finance every package i try i will ill do it but i doubt you contribute the same

[2021-10-01 09:03] HugoHeneault commented on #123
Then a title saying `who want to maintain this repo?` would have been nicer. :-)
Anyway I might've been a bit rude too. Apologies.
I am also contributing and funding some OS package but I don't think it's the point.

If anyone is interested on merging some PR's, and maintaining a fork until @Ali-Azmoud comes back, just say it :-)

[2021-10-01 09:06] HugoHeneault commented on #113
If you pin to commit you won't get security issues. Or you can also fork this repo and point on your fork? Or copy the only lib file in your project and use it as-it: https://github.com/Ali-Azmoud/flutter_xlider/blob/master/lib/flutter_xlider.dart

[2021-10-01 09:34] nicolasvahidzein commented on #123
Id love too but im not talented enough. No apologies necessary brother. Someone already forked a null safe version btw.

[2021-10-12 12:17] mohamad97-alhomsi opened #125 "Migrate the package to null safty"
your flutter package "flutter_xlider" has many likes and usages and   it has very popularity  on pub.dev as you know
so it's a good value for you to migrate to null safety to keep numbers rising
I was using this package in my apps and it's very easy to use but now i upgraded flutter to 2.5.2 and I need to migrate my code

[2021-11-24 09:26] callmejm opened #126 "Handler start and end position"
![image](https://user-images.githubusercontent.com/6957533/143203044-0af3124a-703f-4628-87ca-09b375dc09b8.png)

How to set the handler start and end position is between trackbar ? Now is offset

[2021-12-19 05:25] Maikol1804 commented on #125
It would be great if I could update this library to null safety, I have also updated my project and this is the only library that unfortunately does not comply with the update.

[2022-01-13 21:34] hguzmanSherp commented on #125
Hi man, dont know if is going to be useful for you but just in case, you can do:

[code]

in your pubspec.yaml, I just saw the repo is updated with null safty

[2022-02-10 12:17] gilescm commented on #113
Sorry @HugoHeneault I missed this! Thanks for your comment, it's not that sort of security issue but rather the business does not want to depend on external packages via git in that way for this project and would rather feel more comfortable with an offical release via pub.dev.

[2022-02-12 14:54] nicolasvahidzein commented on #113
@gilescm use the forked version that is null safe on pub.dev called another_xlider.

[2022-02-12 14:55] nicolasvahidzein commented on #113
Direct link to null safe alternative i was forced to use: https://pub.dev/packages/another_xlider

[2022-05-13 12:11] ravinder-bb opened #128 "flutter_xlider: ^3.4.0 - Compile error with Flutter 3.0.0"
Hello everyone,

I'm getting the following error many Errors: **Error: No named parameter with the name 'overflow'. and  Context: Found this candidate, but the arguments don't match.** once I upgraded to Flutter 3.0.0 today:
[code]

Hopefully it's something that can get addressed soon!

Thank you,
Ravinder

[2022-05-13 13:12] swaroopsuthar commented on #128
As per Flutter SDK issue:-
https://github.com/flutter/flutter/issues/66030#issuecomment-694876279

Master branch already modified that issue but the pub version has not been updated use this.

Temporary workaround:
[code]

[2022-05-13 13:17] ravinder-bb commented on #128
Thanks @swaroopsuthar,

But i got any other issue
[code]

[2022-05-13 14:13] swaroopsuthar commented on #128
**Temporary workaround:**

flutter_xlider:
  git:
    url: https://github.com/swaroopsuthar/flutter_xlider.git
    ref: master

[2022-07-20 08:36] jawwad-iqbal22 opened #129 "How can we animate one value point to another value point smoothly?"
Hi,

I have achieved everything using this package but i am struggling in one thing, which is kind of minor but very important. I want to animate the sliderHandler  to another point in kind of animation, like if my current value is 1 and it become 40 then the SliderHandle should move to point 40 smoothly, not just hump on the point.

I ll really appriciate someone help me out

[2022-09-08 09:49] maitycyrus commented on #128
can't some update the pub version?